.footer {
    background-color: #2E86C1; /* Primary Color */
    color: #EAF2F8; /* Text Color */
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer p {
    font-size: 0.8em;
}