<h1 class="tittle">Ver Producto</h1>
<div class="table-container">
    <div class="number-input">
        <label for="number">Ingrese el Id del Producto a revisar:</label>
        <input type="number" id="number" name="number" [(ngModel)]="numberValue">
        <div class="button-container">
            <button (click)="sendNumber()">Ver</button>
        </div>
    </div>
    <table class="table">
        <caption>Detalles del Producto</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.precio | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ item.stock }}</td>
            </tr>
        </tbody>
    </table>
</div>