label {
    font-family: Tahoma;
    font-weight: bold;
    padding: 10px 10px;
    /*color: #1a252f; /* Text Color */
    color: #fff;
}

.label-field {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    background-color: #ccc;
    color: #1a252f; /* Text Color */
    border-radius: 5px; /* Rounded corners */
    width: 70px;
}

.input-container {
    display: flex;
    justify-content: center;
}

/* INPUT STYLES */
/* Basic input styles */
input {
    width: 85%; /* Full width */
    padding: 10px 10px; /* Padding inside the input */
    margin: 10px; /* Margin around the input */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    font-size: 14px; /* Font size */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    background-color: #f8f9fa; /* Background color */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for border and shadow */
    font-family: Tahoma;
}

.show-controls-container, .edit-controls-container {
    padding-top: 15px;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.crud-container {
    background-color: #607f97; /* Light gray background color */
    border-radius: 10px; /* Rounded corners */
    min-height: 400px;
    max-height: fit-content;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    width: 100%;
}
.button {
    background-color: #34495e; /* Primary Color */
    color: #fff; /* Text Color */
}

.button-mode {
    background-color:#2d8fbd; /* Primary Color */
    color:#fff; /* Text Color */
}

.button-del {
    background-color:#db3434; /* Primary Color */
    color:#fff; /* Text Color */
}
/* Basic Button Styles */
.button, .button-mode, .button-del {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
    width: 28%;
}

/* Default Button Style */
.button.default {
    background-color: #3498db; /* Primary Color */
    color: #fff; /* Text Color */
}

/* Hover Effect */
.button:hover, .button-mode:hover, .button-del:hover {
    background-color: #ccc; /* Darker shade of primary color */
    color:#1a252f; /* Text Color */
}

/* Active State */
.button:active, .button-mode:active, .button-del:active {
    transform: translateY(1px);
}

/* Disabled State */
.button.disabled,
.button:disabled,
.button-mode.disabled,
.button-mode:disabled,
.button-del.disabled,
.button-del:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}