.crud-container {
    background-color: #607f97; /* Light gray background color */
    border-radius: 10px; /* Rounded corners */
    height: 200px;
}
/* Basic Button Styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #34495e; /* Primary Color */
    color: #fff; /* Text Color */
    transition: background-color 0.3s, color 0.3s;
}

/* Default Button Style */
.button.default {
    background-color: #3498db; /* Primary Color */
    color: #fff; /* Text Color */
}

/* Hover Effect */
.button:hover {
    background-color: #2980b9; /* Darker shade of primary color */
    color: #fff; /* Text Color */
}

/* Active State */
.button:active {
    transform: translateY(1px);
}

/* Disabled State */
.button.disabled,
.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}