<div class="layout-container">
  <div class="header-container">
    <app-header></app-header>
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a></li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </div>
</div>