<!-- Main Content -->
<main class="home-content">
    <h1 class="tittle">Inicio - Sistema DB</h1>
    <div class="button-container">
        <button routerLink='/product-list' class="large-button" routerLinkActive="active" ariaCurrentWhenActive="page">Ver Productos</button>
        <button routerLink="/product-detail" class="large-button" routerLinkActive="active" ariaCurrentWhenActive="page">Ver Detalles</button>
        <button routerLink="/product-create" class="large-button" routerLinkActive="active" ariaCurrentWhenActive="page">Crear/Borrar Producto</button>
        <button routerLink="/product-edit" class="large-button" routerLinkActive="active" ariaCurrentWhenActive="page">Editar Producto</button>
    </div>
</main>